@define-color black #000000;
@define-color white #c7c7c7;
@define-color green #33FF00;
@define-color yellow #FFFF33;
@define-color red #ff3300;
@define-color blue #1E90FF;
@define-color border-color rgba(255, 255, 255, 0.8);

* {
	border: none;
	border-radius: 0;
	min-height: 0;

	font-size: 18px;
	color: @white;
}

.modules-left {
	margin-left: 8px;
}

.modules-right {
	margin-right: 8px;
}

window#waybar {
	background-color: rgba(0, 0, 0, 0.8);
	opacity: 1;
}

#workspaces,
#custom-btc-rate,
#custom-eth-rate,
#custom-gala-rate,
#custom-weather,
#clock,
#hardware,
#language,
#adjustments,
#battery {
	margin-top: 4px;
	margin-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 8px;
	border: 1px solid @border-color;
	background-color: rgba(0, 0, 0, 0.7);
}

tooltip {
	background-color: rgba(0, 0, 0, 0.7);
	color: @white;
	opacity: 1;
	border: 3px solid @border-color;
	border-radius: 8px;
	padding: 5px 15px;
}

#workspaces button {
	transition: none;
	padding: 0 6px;
	margin: 0 4px;
	min-width: 15px;
	border-bottom: 0px;
}

#workspaces button.focused,
#workspaces button.active {
	border-bottom: 0px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover,
#workspaces button.active {
	box-shadow: inherit;
	text-shadow: inherit;
	background: rgba(0, 0, 0, 0.7);
}

#workspaces button.empty {
	opacity: 0.5;
}

#crypto-rates * {
	font-size: 16px;
	background-position: 3% 50%;
	background-repeat: no-repeat;
	background-size: 8%;
}

/* Уменьщаем значек для ETH */
#custom-eth-rate {
	background-position: 5% 50%;
	background-size: 6%;
}

#custom-btc-rate {
	background-image: url('/home/romank/waybar/icons/btc-rate/btc-logo.svg');
}

#custom-eth-rate {
	background-image: url('/home/romank/waybar/icons/eth-rate/eth-logo.svg');
}

#custom-gala-rate {
	background-image: url('/home/romank/waybar/icons/gala-rate/gala-logo.svg');
}

#custom-btc-rate.rate-up {
	background-image: url('/home/romank/waybar/icons/btc-rate/btc-logo-green.svg');
}

#custom-btc-rate.rate-down {
	background-image: url('/home/romank/waybar/icons/btc-rate/btc-logo-red.svg');
}

#custom-eth-rate.rate-up {
	background-image: url('/home/romank/waybar/icons/eth-rate/eth-logo-green.svg');
}

#custom-eth-rate.rate-down {
	background-image: url('/home/romank/waybar/icons/eth-rate/eth-logo-red.svg');
}

#custom-gala-rate.rate-up {
	background-image: url('/home/romank/waybar/icons/gala-rate/gala-logo-green.svg');
}

#custom-gala-rate.rate-down {
	background-image: url('/home/romank/waybar/icons/gala-rate/gala-logo-red.svg');
}

#crypto-rates *.rate-up {
	color: @green;
}

#crypto-rates *.rate-down {
	color: @red;
}

#crypto-rates *.rate-same {
	color: @white;
}

#clock {
	font-weight: bold;
}

#network {
	margin-right: 10px;
}

#bluetooth {
	margin-right: 5px;
}

#pulseaudio {
	margin-right: 5px;
}

#battery {
	font-weight: bold;
	color: @green;
}

#network.wifi,
#bluetooth.connected,
#battery.charging,
#battery.plugged {
	color: @blue;
}

#temperature.critical,
#cpu.critical,
#memory.critical,
#disk.critical,
#network.disconnected,
#bluetooth.off,
#pulseaudio.muted {
	color: @red;
}

#temperature.warning,
#cpu.warning,
#memory.warning,
#disk.warning,
#battery.warning:not(.charging) {
	color: @yellow;
}

#battery.critical:not(.charging) {
	color: @red;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes blink {
	to {
		color: @black;
	}
}
