@define-color black #000000;
@define-color white #c7c7c7;
@define-color green #33cc00;
@define-color yellow #ffff66;
@define-color red #ff3300;
@define-color blue #103cfe;

* {
	border: none;
	border-radius: 0;
	min-height: 0;

	font-family: 'Fira Code Nerd Font';
	font-size: 18px;
	color: @white;
}

.modules-left {
	margin-left: 8px;
}

.modules-right {
	margin-right: 8px;
}

window#waybar {
	background-color: @black;
	opacity: 0.8;
}

#workspaces button {
	all: initial;
	padding: 0 6px;
	margin: 0 4px;
	min-width: 15px;
}

#workspaces button.empty {
	opacity: 0.5;
}

#workspaces button.active {
	border-bottom: 2px solid @white;
}

#workspaces button:hover {
	font-weight: bold;
}

#custom-weather {
	margin-right: 10px;
}

#clock {
	font-weight: bold;
}

#crypto-rates {
	margin-left: 10px;
}

#crypto-rates * {
	font-size: 14px;
	background-position: 8% 46%;
	background-repeat: no-repeat;
	background-size: 8%;
}

#custom-btc-rate {
	background-image: url('${config.xdg.configHome}/waybar/icons/btc-rate/btc-logo.svg');
}

#custom-gala-rate {
	background-image: url('${config.xdg.configHome}/waybar/icons/gala-rate/gala-logo.svg');
}

#custom-btc-rate.rate-up {
	background-image: url('${config.xdg.configHome}/waybar/icons/btc-rate/btc-logo-green.svg');
}

#custom-btc-rate.rate-down {
	background-image: url('${config.xdg.configHome}/waybar/icons/btc-rate/btc-logo-red.svg');
}

#custom-gala-rate.rate-up {
	background-image: url('${config.xdg.configHome}/waybar/icons/gala-rate/gala-logo-green.svg');
}

#custom-gala-rate.rate-down {
	background-image: url('${config.xdg.configHome}/waybar/icons/gala-rate/gala-logo-red.svg');
}

#crypto-rates *.rate-up {
	color: @green;
}

#crypto-rates *.rate-down {
	color: @red;
}

#crypto-rates *.rate-same {
	color: @white;
}

#network.disconnected,
#bluetooth.off {
	color: @red;
}

#language {
	margin-right: 20px;
}

#hardware {
	margin-right: 10px;
}

#network {
	margin-right: 15px;
}

#bluetooth {
	font-size: 20px;
	font-weight: bold;
	margin-right: 10px;
}

#pulseaudio {
	margin-right: 8px;
}

#battery {
	color: @green;
}

#battery.charging,
#battery.plugged {
	color: @blue;
}

#battery.warning:not(.charging) {
	color: @yellow;
}

@keyframes blink {
	to {
		color: @black;
	}
}

#battery.critical:not(.charging) {
	color: @red;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
